.postCard{
    width: 70%;
}
.card{
    width: 100%;
    display: flex;
}
.deleteIcon{
    
}
.postItem{
 display: flex;
}
.postCard{
    width: 385;
    height: 280px;
    margin: 0px 25px 40px 25px;
    display: flex;
    
    flex-direction: wrap;
}
.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    border: none;
    margin: 10;
}