.singlePostIcon {
    font-size: 40px;
    
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    background-color: inherit;
    text-decoration: none;
}
.singlePost {
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 20px;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

/* .singlePosTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
} */
.singlePostDesc{
    color: #666;
    font-size: 30px;
    font-weight: 300;
}